@using Shopwise.Areas.Admin.ViewModels.ServiceVMs;
@model ServiceUpdateVM
@{
    ViewData["Title"] = "Create";
}

<div>
    <h2>
        Create Slider
    </h2>
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="alert alert-danger"></div>
        <div>
            <label asp-for="@Model.ImagePath"></label>
            <input asp-for="@Model.ImagePath" class="form-control" />
            <div>
                <span asp-validation-for="@Model.ImagePath">
                </span>
            </div>
        </div>
        <div>
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" class="form-control" />
            <div>
                <span asp-validation-for="@Model.Name">
                </span>
            </div>
        </div>
        <div>
            <label asp-for="@Model.Description"></label>
            <input asp-for="@Model.Description" class="form-control" />
            <div>
                <span asp-validation-for="@Model.Description">
                </span>
            </div>
        </div>

        <div class="mt-2">
            <button type="submit" class="btn btn-outline-success">
                Create
            </button>
        </div>
    </form>
</div>

